/* Add CSS Styling */
.Button-1 {
    color: white;
    background-color: black;
}

.Button-2 {
    background-color: yellow;
}

.Button-1,
.Button-2 {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}